@model Library.Models.Person

@{
    ViewBag.Title = "Create";
}

<h2>Hinzufügen</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partial/_create", Model)
    @Helpers.createActions();
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
