@model Library.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sind Sie sicher, dass Sie diese Person entfernen möchten?</h3>

@Html.Partial("Partial/_details", Model)

<h4>Durch diese Aktion wird die gesamte Ausleihliste dieser Person entfernt.</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Helpers.deleteActions(new { id = Model.id })
}
